# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Local model
models/

# Data and development files
data/
logs/
notebooks/
gpu_test.py
src/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db